{% extends './base.html' %}
{% block main %}
<ul id="breadCrumbs">
			<li class="homeButton"><a href="#"></a></li>
			<li><p>&raquo;</p></li>
			<li>留言板</li>
		</ul>
<div id="content">
<h3>给我留言</h3>
    		<p>欢迎大神留下你对本站的建议！</p>
    		<p>申请友情链接请留言填写具体资料！等待管理员审核添加！</p>
    			<p>&nbsp;</p>
    		<h3>留言</h3>
    		<!-- Contact Form -->

         <!-- Comments -->
          <div id="comments">
            <!-- Comments header -->
            <div class="commentsHeader">
              <h4>留言</h4>
              <a href="#">Leave a comment</a>
              <div class="clearfix"></div>
            </div>
            <!-- End Comments header -->
            <!-- Comment -->
            <ul >
            {% for obj in msgbook_list %}
            <div class="comment" >
              <div class="commentInner"> <img src="../../static/tx/guest.png" width="50" height="50" alt="John Doe" title="John Doe" class="authorPhoto" />
                <!-- Comment content -->
                <div class="commentContent">
                  <p >{{ obj.name }}</p>
                  <p class="commentDate">{{ obj.create_time|date:"Y-m-d H:i:s" }}</p>
                  <p>{{ obj.content }}</p>
                </div>

                <!-- End Comment Content -->
                <div class="clearfix"></div>
              </div>
              {% for children in obj.children_msgbook %}
              <!-- Comment -->
              <div class="comment">
                <div class="commentInner"> <img src="../../static/tx/guest.png"width="50" height="50" alt="John Doe" title="John Doe" class="authorPhoto" />
                  <!-- Comment content -->
                  <div class="commentContent">
                    <h5>{{ children.rname }}</h5>
                    <p class="commentDate">{{ children.create_time|date:"Y-m-d H:i:s" }}</p>
                    <p>{{ children.content }}</p>
                  </div>

                  <!-- End Comment Content -->
                  <div class="clearfix"></div>
                </div>

              <!-- End Comment -->
              {% endfor %}
            </div>
            <!-- End Comment -->

            {% endfor %}
                </div>
            {% if page_obj %}
                {% include 'include/pagination.html' %}
            {% endif %}
            </ul>

          </div>

<div id="anchor-quote">
    		<form id="contactForm" method="post" action="">
                {% csrf_token %}
    			<div class="formLeft">
    				<p>
    					<label for="inputName">昵称: <span class="required">*</span></label>
    					<input type="text" name="name" id="inputName" value="" data-required="true" />
    				</p>
					<p>
						<label for="inputTelephone" >电话:</label>
						<input type="text" name="telephone" id="inputTelephone" value="" />
					</p>
    			</div>
    			<div class="formRight">
	    			<p>
	    				<label for="inputEmail">邮箱: </label>
	    				<input type="text" name="email" id="inputEmail" value="" data-required="true" placeholder="申请友情链接必填" />
	    			</p>
    				<p>
    					<label for="inputWebsite">网站地址:</label>
    					<input type="text" name="website" id="inputWebsite" value="" placeholder="申请友情链接必填"/>
    				</p>
    			</div>
    			<div class="clearfix"></div>

				<p>
					<label for="inputMessage">留言: <span class="required">*</span></label>
					<textarea name="message" id="inputMessage" data-required="true"  ></textarea>
				</p>
				<p class="submitField">
					<span class="validationText"></span>
					<img src="/static/img/form-load.gif" alt="Loading" class="loadingImg" />
					<input type="submit" name="" class="right" value="提交 留言" />
				</p>
				<div class="clearfix"></div>
    		</form>
</div>
    		<!-- End Contact Form -->
    		<p>&nbsp;</p>
    	</div>
    	<!-- End Main content -->
        	<div id="sidebar">
	    	<div class="sidebarBlock">
	    		<h3><span>最近靓照</span></h3>
	    		<div><img src="/static/tx/my.jpg"></div>
	    	</div>
	    	<div class="sidebarBlock">
	    		<h3><span>个人信息</span></h3>
	    		<dl class="contactInfo">
	    			<dt>Address</dt>
	    			<dd>大上海</dd>
	    			<dt>QQ</dt>
	    			<dd>7836567</dd>
	    			<dt>git</dt>
	    			<dd><a href="https://github.com/zjleifeng">https://github.com/zjleifeng</a></dd>
	    			<dt>E-mail</dt>
	    			<dd><a href="mailto:z_j_boy@163.com">z_j_boy@163.com</a></dd>
	    		</dl>
	    		<div class="clearfix"></div>
	    	</div>
    	</div>
    	<!-- End Sidebar -->

<script language="javascript" type="text/javascript">
    function CommentQuote(user_name, commend_id){
        inputComment = document.getElementById('inputcommentlab');
        input=document.getElementById('inputComment');
        disid=document.getElementById('disid');
        disid.textContent=commend_id;
        inputComment.textContent = "@"+user_name+":";
        inputComment.style.color="red";
        input.focus();
        inputComment.setSelectionRange(comment.value.length, comment.value.length);
    };

   $('#contactForm').submit(function() {
       var name = $("#inputName").val();
            if(name == ""){
            alert("昵称不可为空");
            return false;
            }
    var content = $("#inputMessage").val();
        if(content == ""){
            alert("留言不可为空");
            return false;
        }
        $.ajax({
            type:"POST",
            url:"/msgbook/",
            data:{"msg":$("#inputMessage").val(),"inputName":$("#inputName").val(),"inputEmail":$("#inputEmail").val(),"inputWebsite":$("#inputWebsite").val(),"inputTelephone":$("#inputTelephone").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
                $("#inputMessage").val("");
                location.replace("/msgbook/");
                document.getElementById("inputMessage").focus();

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }

        });
        return false;
    });




</script>
{% endblock %}