{%  url "article-view" obj.id as article_url %}
<!-- Portfolio Item -->

		    		<h3><a  href="{{ article_url }}">{{ obj.title }}</a></h3>
                <!--
                    {% if obj.img %}

	    		<a href="{{ article_url }}"><img src="../../media/{{ obj.img }}" alt="News item image" /></a>
            {% endif %}
            -->
		    		<div>{{ obj.content|slice:"50"|linebreaks }}</div>
<a href="{{ article_url }}">查看全文 &raquo;</a>
		    		<div class="tags">

		    		</div>

	    	<!-- End Portfolio Item -->