<html><!DOCTYPE html>
<!--[if IE 8]>
		<html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
	<![endif]-->
<!--[if !(IE 8) ]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>django-blog &lsaquo; Log In</title>
<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"e726b1a9e0339d5d959f3b54cb7045f1",petok:"4313ac3ff64729d8740d044103fe9ad65c50c544-1488439230-1800",zone:"swiftideas.com",rocket:"0",apps:{"ga_key":{"ua":"UA-52693533-1","ga_bs":"2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=f2befc48d1/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
   <link rel="stylesheet" type="text/css" href="/static/css/login/style.css"/>
<script src="/static/js/login/jquery-1.7.2.min.js" type="text/javascript"></script>

<script src="/static/js/login/main.js"></script>
        <script src="/static/jquery/jquery.cookie.js"></script>
    <script src="/static/jquery/jquery.form.js"></script>
    <script src="/static/jquery/jquery.Jcrop.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/script.js"></script>
<link rel='stylesheet' href="/static/css/login/load-styles.php-c=0&dir=ltr&load[]=dashicons,buttons,forms,l10n,login&ver=4.6.3" tppabs="http://dante.swiftideas.com/wp-admin/load-styles.php?c=0&dir=ltr&load%5B%5D=dashicons,buttons,forms,l10n,login&ver=4.6.3" type='text/css' media='all'/>
<style type="text/css">.login h1 a{background-image:url("/static/img/logologin.png")!important;height:95px!important;width:100%!important;background-size:auto!important;}</style><meta name='robots' content='noindex,follow'/>

</head>
{% url 'forgetpassword-view' as forgetpassword_url %}
{% url 'register-view' as register_url %}

<body class="login login-action-login wp-core-ui  locale-en-us">
<div id="login">
<h1><a href="/" tppabs="/" title="django-blog-login" tabindex="-1">django-blog</a></h1>
<form name="loginform" id="loginform" method="post">
    {% csrf_token %}
<p>
<label for="user_login">用户名<br/>
<input type="text" name="log" id="user_login" class="input" value="" size="10"/></label>
</p>
<p>
<label for="user_pass">密码<br/>
<input type="password" name="pwd" id="user_pass" class="input" value="" size="10"/></label>
</p>
<p class="submit">
<input type="submit" name="wp-submit" id="wp-submit" class="button button-primary button-large" value="Log In"/>

</form>
<p id="nav">
<a href="{{register_url}}" >注册</a> | <a href="{{forgetpassword_url}}" >忘记密码</a>
</p>
<script language="javascript" type="text/javascript">
    $('#loginform').submit(function(){
        $.ajax({
            type:"POST",
            url:"/usercontrol/login",
            data:{"username":$("#user_login").val(),"password":$("#user_pass").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
            },
            success:function(data,textStatus){
                var errors = data["errors"];
                if(errors.length==0){
                    location.replace("/");
                }
                else{
                    //alert(errors);
                    var str = ""
                    for (var key in errors){
                        str += errors[key]+"\n";
                    }
                    alert(str);
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);
            }
        });
        return false;
    });
</script>


<p id="backtoblog"><a href="/" >&larr; 回到主页</a></p>
</div>
<div class="clear"></div>
</body>
</html>
